<% content_for :page_title do %>
  <%= Spree.t(:listing_images) %>
<% end %>

<% content_for :page_actions do %>
  <li id="upload-images">
    <input id="media-upload" type="file" name="image[attachment]" data-url="<%= api_images_path %>" multiple>
    <div class="upload-progress">
      <div class="bar" style="width: 0%;"></div>
    </div>
  </li>
<% end if can?(:create, Spree::Product) %>

<div class="images">
  <%= render :partial => 'image_list', :locals => {:images => @images} %>
</div>