/*
 *= require admin/spree_backend
*/

#wrapper.image-gallery{
	background: #e5e6e4;
}

.images{
  position: relative;
}

.images .image{
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.images .image img{
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #e5e5e5;
	width: 220px;
	height: auto;
}

.images .image .meta{
  padding: 6px 14px 7px;
}

.images .image .meta .name{
	font-size: 13px;
  margin: 5px 0;
  color: #333;
  font-weight: 400;
}

.viewable-info{
	border-top: 1px solid #e7e7e7;
	padding: 10px 14px;
}

.viewable-type{
	font-size: 12px;
	color: #a7a7a7;
}

.viewable-name{
	font-size: 12px;
	color: #333;
}